<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js" defer></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Letkeä lentopeli</title>
</head>

<body>
<div class="container">
    <header class="page-header">
        <h1 class="page-title">
            &nbsp;Lento&nbsp;peli&nbsp;
        </h1>

        <nav>
            <ul class="flex-wrap space-evenly">
                <li>
                    <a class="button button-white" href="index.html">Game</a>
                </li>
                <li>
                    <a class="button button-white" href="about.html">About</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="flex-wrap">
        <header>
            <h1>About our amaizing game</h1>
        </header>
        <article>
            <header>
                <h1>Description</h1>
            </header>
            <figure class="float">
                <img class="lead-img" src="../img/hero.PNG" alt="Hero of the game">
                <img class="lead-img" src="../img/villain.PNG" alt="Villain of the game">
                <figcaption>Our hero and villain</figcaption>
            </figure>
            <p>Hero wakes up to a call from the european council.
                The climate stabilizer had been stolen over night by the infamous
                villain with the big black cape (in short: BBC).
                The only information the council can give is, that BBC is
                hiding and moving along the biggest european Airports, be fast.
                NOW! It is up to you hero, to find the BBC and get the climate stabilizer back!
                To help you, the european council sponsors your cross country flights,
                but be aware that each 100km flown raise the climate by 0.5 degrees celsius.
                Warming the climate by 6 degrees will lead to the world overheating
                and exploding, so be fast and intelligent.
                along your journey you will get hints of where the villain has been last seen
                in form of a compass point. Get going now!</p>
        </article>

    </main>
    <footer class="page-footer">
        <p>Made by Eljas, Idriz, Sampo ja Janne ©</p>
    </footer>
</div>

</body>

</html>